* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translate(0, -50%);
    height: 250px;
}

.sound {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    height: 50px;
}

.loading {
    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

.loading p {
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hide {
    display: none;
}

.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media (max-width: 810px) {
    .logo {
        height: 160px;
    }
}

@media (max-width: 570px) {
    .logo {
        height: 130px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 500px) {
    .logo {
        height: 80px;
    }
}
